client/node_modules
client/.env
client/.bolt
.env
.venv
debug_audio.wav
testdata.json
.DS_Store
**/*.pyc
test.py
testdata.json

# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local
client/*.env
# Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?
client/*.env
protean-tome-451209-m8-06e99c3862f7.json
test_img/*
gemini_api_key.txt